.title{
	font-family: 'Walter Turncoat', cursive;
	margin-bottom: 5rem;
	font-weight: 800;
}

#registerbtn{
	margin-top: 3px;
}

#loginScreen{
	margin: 10% 20% 10% 20%;
}

#loginBtn{
	margin-top: 5%;
}
